body {
  margin: 0;
  font-family: 'DejaVu Sans Mono', sans-serif;

  background-color: #000;
  color: #fff;
}

:root {


  --rich-black-fogra-29: #0e1c26ff;
  --blue-yonder: #5870a5ff;
  --green-yellow-crayola: #f5ee9eff;
  --old-burgundy: #412f27ff;
  --dark-liver: #68555bff;

}
